<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="room_manager" version="0.1.1">
  <details>
    <title>Chat Room Manager</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>A intuitive widget for managing chat rooms.</description>
    <authors>bgrana</authors>
  </details>
  <wiring>
    <outputendpoint name="join_room" type="text" label="New participant" description="Send participant username and room name." friendcode="join_room"/>
    <inputendpoint name="participant" type="text" label="Participant join or leave room" description="A participant join or leave a room" friendcode="change_participant"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="12" width="6"/>
</widget>
